@import url("style.css");
@media all and (max-width: 1200px) {
    .container {
        width: 100%;
    }
}

@media all and (max-width: 540px) {
    .giph-items{
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }
    .old-search-item{
        padding-top: 6px;
        padding-bottom: 6px;
    }
}

@media all and (max-width: 320px) {
    .giph-items{
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }

    .old-search-item{
        padding-top: 6px;
        padding-bottom: 6px;
    }
}

